<div class="container-fluid">
  <div ng-controller="SongDetailCtrl">
    <div class="row">
      <div class="col-sm-8">
        <form class="form-horizontal">
          <div class="mb-3">
            <div class="row">

              <div class="col-sm-3 col-form-label text-end mt-3">
                <a href="#/songs/{{prevSongId}}"><button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-chevron-left"></i></button></a>
                <a href="#/songs/{{nextSongId}}"><button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-chevron-right"></i></button></a>
                <div class="mt-2">
                  <a href="#/songs">&laquo; zurück zur Liste</a>
                </div>
              </div>
              <div class="col-sm-9">
                <h1 class="mt-5">{{song.title}}&nbsp; <status status="song.status" style="font-size: 14px"></status></h1>
              </div>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="inputTitle" class="col-md-3 col-form-label text-end">Titel</label>

            <div class="col-md-9">
              <div class="input-group">
                <input type="text" ng-model="song.title" class="form-control" id="inputTitle" placeholder="Titel" />
              </div>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="alternativeTitles" class="col-md-3 col-form-label text-end">Weitere Titel</label>

            <div class="col-md-9">
              <div class="input-group">
                <textarea id="alternativeTitles" class="form-control" rows="2" ng-model="song.alternativeTitles"></textarea>
              </div>

              <span class="form-text">
                Alternative Titel unter denen das Lied im Inhaltsverzeichnis aufgelistet wird - die nicht fett gedruckten Titel. z.B. Erste Zeile, Refrain etc.<br>
                Ein Titel pro Zeile. Erster Buchstabe gross, ansonsten wie Text. Alternative Titel sind optional
              </span>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="inputInterpret" class="col-md-3 col-form-label text-end">Interpret</label>

            <div class="col-md-9">
              <div class="input-group">
                <input type="text" ng-model="song.interpret" class="form-control" id="inputInterpret">
              </div>

              <span class="form-text">
                Bandname oder Künstler, damit in der App danach gesucht werden kann.
              </span>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="text" class="col-md-3 col-form-label text-end">Text</label>

            <div class="col-md-9">
              <div class="input-group">
                <textarea id="text" class="form-control" rows="20" ng-model="song.text"></textarea>
              </div>

              <span class="form-text">
                Moll-Akkorde in deutscher Notation (z.B. "Hm" und nicht "h")<br>
                Strophen nicht nummerieren<br>
                Ref. (ohne Doppelpunkt) wird immer wiederholt (nicht nur Wort «Ref.», sondern gesamter Text)
              </span>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row">
            <div class="col-md-9 offset-md-3">
              <button type="submit" class="btn btn-success mt-1 mb-3 col-12" ng-click="save()">Speichern <i ng-show="showSavedIcon" class="fa fa-check-circle"></i></button>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="inputLang" class="col-md-3 col-form-label text-end">Sprache</label>

            <div class="col-auto">
              <div class="input-group">
                <select ng-model="song.lang" class="form-select" id="inputLang" ng-options="value.id as value.value for value in langOptions">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="inputMood" class="col-md-3 col-form-label text-end">Stimmung</label>

            <div class="col-md-9">
              <div class="input-group">
                <input type="text" ng-model="song.mood" class="form-control" id="inputMood">
              </div>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="inputYoutube" class="col-md-3 col-form-label text-end">Youtube Link</label>

            <div class="col-md-7">
              <div class="input-group">
                <input type="text" ng-model="song.youtubeLink" class="form-control" id="inputYoutube">
              </div>
              <span class="form-text">
                Zum Anhören wie das Lied klingt. Link im Format: <i>https://www.youtube.com/watch?v=0Fy7opKu46c</i>
              </span>
            </div>
            <div class="col-md-2">
              <a ng-href="{{song.youtubeLink}}" ng-if="youtubeVideoId" target="_blank">
                <img ng-src="https://img.youtube.com/vi/{{youtubeVideoId}}/default.jpg" height="52">
              </a>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row rondo-page-numbers">
            <label class="col-sm-3 col-form-label text-end">Seitenzahlen</label>

            <div class="col-sm-1">
              <span class="badge bg-danger">Rot</span>
              <input type="text" ng-model="song.pageRondoRed" class="form-control" placeholder="Seite">
            </div>
            <div class="col-sm-1">
              <span class="badge bg-primary">Blau</span>
              <input type="text" ng-model="song.pageRondoBlue" class="form-control" placeholder="Seite">
            </div>
            <div class="col-sm-1">
              <span class="badge" style="background: #99FF99; color: black">Grün</span>
              <input type="text" ng-model="song.pageRondoGreen" class="form-control" placeholder="Seite">
            </div>
            <div class="col-sm-1">
              <span class="badge" style="background: orange;">2017</span>
              <input type="text" ng-model="song.pageRondo2017" class="form-control" placeholder="Seite">
            </div>
            <div class="col-sm-1">
              <span class="badge" style="background: #fbeb00; color: #d23700;">mova</span>
              <input type="text" ng-model="song.pageRondo2021" class="form-control" placeholder="Seite">
            </div>
            <div class="col-sm-1">
              <span class="badge" style="background: #52009b; color: #ffffff;">2024</span>
              <input type="text" ng-model="song.pageRondo2024" class="form-control" placeholder="Seite">
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row">
            <label class="col-sm-3 col-form-label text-end">Auflagen</label>
            <div class="col-sm-9">
              <div class="row" style="padding-top: 6px">
                <div class="col-sm-2">
                  <label><input type="checkbox" ng-model="song.releaseBook2017" ng-true-value="1" ng-false-value="0" disabled> Rondo 2017</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" ng-model="song.releaseBook2021" ng-true-value="1" ng-false-value="0" disabled> Mova Rondo</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" ng-model="song.releaseBook2024" ng-true-value="1" ng-false-value="0"> Rondo 2024</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" ng-model="song.releaseApp2017" ng-true-value="1" ng-false-value="0" disabled> App (bis 2022)</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" ng-model="song.releaseApp2022" ng-true-value="1" ng-false-value="0" disabled> App (ab 2022)</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" ng-model="song.releaseApp2024" ng-true-value="1" ng-false-value="0"> App (ab 2024)</label>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="status" class="col-md-3 col-form-label text-end">Status</label>

            <div class="col-md-9">
              <div class="row g-3">
                <div class="col-auto">
                  <select ng-model="song.status" id="status" class="form-select">
                    <option value="NEW">Neu</option>
                    <option value="INPROGRESS">In Arbeit</option>
                    <option value="DONE">Fertig</option>
                  </select>
                </div>
                <div class="col-auto col-form-label text-end">
                  <status status="song.status"></status>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row has-feedback">
            <label for="comments" class="col-md-3 col-form-label text-end">Kommentar zum Status</label>

            <div class="col-md-9">
              <div class="input-group">
                <textarea id="comments" class="form-control" rows="7" ng-model="song.comments"></textarea>
              </div>
            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row">
            <div class="col-md-9 offset-md-3">
              <button type="submit" class="btn btn-success mt-1 mb-3 col-12" ng-click="save()">Speichern <i ng-show="showSavedIcon" class="fa fa-check-circle"></i></button>
            </div>
          </div>

          <!--
          <div class="mb-3">
            <label for="inputMusicXMLFile" class="col-sm-3 col-form-label text-end">MusicXML Datei hochladen</label>

            <div class="col-sm-3">
              <input type="file" id="inputMusicXMLFile" nv-file-select uploader="uploader"/>
            </div>
            <div class="col-sm-3">
            <span ng-repeat="item in uploader.queue">
              <button ng-click="item.upload()" class="btn btn-xs btn-success">Hochladen</button>
            </span>
            </div>
          </div>
          -->

          <div class="row" style="margin-top: 40px">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <h2>Copyright</h2>
            </div>
          </div>
          <hr style="margin-top: 0px">

          <div class="row has-feedback">
            <label for="license" class="col-md-3 col-form-label text-end">Lizenz</label>

            <div class="col-md-9">
              <div class="row g-3">
                <div class="col-auto">
                  <select ng-model="song.license" id="license" class="form-select">
                    <option value="UNKNOWN">Unbekannt</option>
                    <option value="LICENSED">Lizenziert</option>
                    <option value="FREE">Frei</option>
                  </select>
                </div>

                <div class="col-auto col-form-label text-end">
                  <license license="song.license"></license>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="song.license == 'LICENSED'">
            <div class="mb-3"></div>

            <div class="row" ng-if="song.license == 'LICENSED'">
              <label for="license" class="col-sm-3 col-form-label text-end">Lizenz-Typ</label>

              <div class="col-sm-9">
                <div class="row g-3">
                  <div class="col-auto">
                    <select ng-model="song.license_type" id="license-type" class="form-select">
                      <option value="UNKNOWN">Unbekannt</option>
                      <option value="ONE_TIME">Einmalig</option>
                      <option value="ANNUAL">Jährlich</option>
                      <option value="FREE">Gratis</option>
                    </select>
                  </div>
                  <div class="col-auto col-form-label text-end">
                    <licensetype license="song.license_type"></licensetype>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3"></div>

            <div class="row">
              <label for="copyrightInfoApp" class="col-sm-3 col-form-label text-end">Copyright Text App</label>

              <div class="col-sm-9">
                <textarea id="copyrightInfoApp" class="form-control" rows="4" ng-model="song.copyrightInfoApp"></textarea>
              </div>
            </div>

            <div class="mb-3"></div>

            <div class="row">
              <label for="copyrightInfoBook" class="col-sm-3 col-form-label text-end">Copyright Text Buch</label>

              <div class="col-sm-9">
                <textarea id="copyrightInfoBook" class="form-control" rows="4" ng-model="song.copyrightInfoBook"></textarea>
              </div>
            </div>

            <div class="mb-3"></div>

            <div class="row">
              <label for="copyrightContact" class="col-sm-3 col-form-label text-end">Halter / Kontakt</label>

              <div class="col-sm-9">
                <textarea id="copyrightContact" class="form-control" rows="8" ng-model="song.copyrightContact"></textarea>
              </div>
            </div>

            <div class="mb-3"></div>

            <div class="row">
              <label for="copyrightStatusApp" class="col-md-3 col-form-label text-end">Copyright Status App</label>

              <div class="col-sm-9">
                <div class="row g-3">
                  <div class="col-auto">
                    <select ng-model="song.copyrightStatusApp" id="copyrightStatusApp" class="form-select">
                      <option value="NEW">Neu</option>
                      <option value="INPROGRESS">In Arbeit</option>
                      <option value="DONE">Fertig</option>
                      <option value="NO_LICENSE">Fertig, keine Lizenz erhalten</option>
                    </select>
                  </div>
                  <div class="col-auto col-form-label text-end">
                    <status status="song.copyrightStatusApp"></status>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3"></div>

            <div class="row">
              <label class="col-sm-3 col-form-label text-end">Copyright Status Buch 2017</label>

              <div class="col-sm-9" style="padding-top: 6px">
                <status status="song.copyrightStatusBook2017"></status>
              </div>
            </div>

            <div class="mb-3"></div>

            <div class="row">
              <label class="col-sm-3 col-form-label text-end">Copyright Status Buch 2021</label>

              <div class="col-sm-9" style="padding-top: 6px">
                <status status="song.copyrightStatusBook2021"></status>
              </div>
            </div>

            <div class="mb-3"></div>

            <div class="row">
              <label for="copyrightStatusBook2024" class="col-sm-3 col-form-label text-end">Copyright Status Buch 2024</label>

              <div class="col-sm-9">
                <div class="row g-3">
                  <div class="col-auto">
                    <select ng-model="song.copyrightStatusBook2024" id="copyrightStatusBook2024" class="form-select">
                      <option value="NEW">Neu</option>
                      <option value="INPROGRESS">In Arbeit</option>
                      <option value="DONE">Fertig</option>
                      <option value="NO_LICENSE">Fertig, keine Lizenz erhalten</option>
                    </select>
                  </div>
                  <div class="col-auto col-form-label text-end">
                    <status status="song.copyrightStatusBook2024"></status>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3"></div>

            <div class="row">
              <label class="col-sm-3 col-form-label text-end"></label>

              <div class="col-sm-9 pb-4">
                <h5 class="mt-3">Copyright Dateien</h5>
                <div ng-if="song.files && song.files.length > 0" class="file-list">
                  <div ng-repeat="file in song.files" class="file-list__file">
                    <i class="fa fa-file-pdf-o" style="color: #7e7e7e;" ng-if="file.mime === 'application/pdf'"></i>
                    <i class="fa fa-file-o" style="color: #7e7e7e;" ng-if="file.mime !== 'application/pdf'"></i>
                    <a href="api/files/{{file.id}}/{{file.name | encodeURIComponent}}" target="_blank" title="Erstellt am {{file.creationTime}}">{{file.name}}</a>
                    <span class="pull-right">
                        <a href="" ng-click="deleteFile(file)"><i class="fa fa-trash file-list__file-delete-icon"></i></a>
                    </span>
                  </div>
                </div>
                <div ng-if="!song.files || song.files.length === 0" class="text-muted mb-2">
                  Noch keine Dateien hochgeladen
                </div>
                <input type="file" name="file" onchange="angular.element(this).scope().uploadGenericFile(this.files, 'copyright')"/>
              </div>

            </div>
          </div>

          <div class="mb-3"></div>

          <div class="row">
            <div class="col-md-9 offset-md-3">
              <button type="submit" class="btn btn-success mt-1 mb-3 col-12" ng-click="save()">Speichern <i ng-show="showSavedIcon" class="fa fa-check-circle"></i></button>
            </div>
          </div>
          <a href="#/songs">&laquo; zurück zur Liste</a>
          <br><br>
        </form>

      </div>
      <div class="col-sm-4">
        <br />
        <h4 class="mt-5">Vorschau</h4>

        <div class="preview" ng-class="{ 'rondo-show-chords': showAccords }">
          <div ng-bind-html="preview"></div>
        </div>
        <label>
          <input type="checkbox" ng-model="showAccords"> Akkorde anzeigen
        </label>

        <br />
        <br />

        <h4>Sibelius Screenshot</h4>
        <br>
        <a href="api/songs/{{song.id}}/raw/rawNotesPNG.png" target="_blank"><img src="api/songs/{{song.id}}/raw/rawNotesPNG.png" width="320"></a>
        <br>
        <br>

        <h4>Dateien hochladen</h4>

        <form>
          <div class="card mb-3">
            <div class="card-body">
              <label for="inputImage" class="control-label"><b>Titelbild</b></label>
              1242 x 660 px <i>(png, jpg, gif)</i><br>
              <input type="file" name="file" id="inputImage" onchange="angular.element(this).scope().uploadFile(this.files, 'rawImage')" accept="image/png, image/gif, image/jpeg"/>
              <div ng-if="song.rawImageSize > 0">
                <br>
                <i class="fa fa-check-circle" style="color: green;"></i> <a href="api/songs/{{song.id}}/raw/rawImage.png" target="_blank">Download</a>
                {{song.rawImageSize / 1048576 | number : 2}} MB
              </div>
              <div ng-if="song.rawImageSize == 0" class="text-muted"><br><i class="fa fa-times" style="color: red;"></i> Keine Datei hochgeladen</div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <label for="sibeliusFile" class="control-label"><b>Sibelius Datei</b></label><br>
              <input type="file" name="file" id="sibeliusFile" onchange="angular.element(this).scope().uploadFile(this.files, 'rawSIB')" accept=".sib"/>
              <div ng-if="song.rawSIBSize > 0">
                <br>
                <i class="fa fa-check-circle" style="color: green;"></i> <a href="api/songs/{{song.id}}/raw/rawSIB.sib" target="_blank">Download</a>
                {{song.rawSIBSize / 1048576 | number : 2}} MB
              </div>
              <div ng-if="song.rawSIBSize == 0" class="text-muted"><br><i class="fa fa-times" style="color: red;"></i> Keine Datei hochgeladen</div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <label for="notesFile" class="control-label"><b>Noten PDF</b></label><br>
              <input type="file" name="file" id="notesFile" onchange="angular.element(this).scope().uploadFile(this.files, 'rawNotesPDF')" accept=".pdf"/>
              <div ng-if="song.rawNotesPDFSize > 0">
                <br>
                <i class="fa fa-check-circle" style="color: green;"></i> <a href="api/songs/{{song.id}}/raw/rawNotesPDF.pdf" target="_blank">Download</a>
                {{song.rawNotesPDFSize / 1048576 | number : 2}} MB
              </div>
              <div ng-if="song.rawNotesPDFSize == 0" class="text-muted"><br><i class="fa fa-times" style="color: red;"></i> Keine Datei hochgeladen</div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <label for="midiFile" class="control-label"><b>Midi Datei</b></label><br>
              <input type="file" name="file" id="midiFile" onchange="angular.element(this).scope().uploadFile(this.files, 'rawMidi')" accept=".mid"/>
              <div ng-if="song.rawMidiSize > 0">
                <br>
                <i class="fa fa-check-circle" style="color: green;"></i> <a href="api/songs/{{song.id}}/raw/rawMidi.mid" target="_blank">Download</a>
                {{song.rawMidiSize / 1048576 | number : 2}} MB
              </div>
              <div ng-if="song.rawMidiSize == 0" class="text-muted"><br><i class="fa fa-times" style="color: red;"></i> Keine Datei hochgeladen</div>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <label for="copyrightFile" class="control-label"><b>Copyright Vertrag</b></label><br>
              <input type="file" name="file" id="copyrightFile" onchange="angular.element(this).scope().uploadFile(this.files, 'rawCopyrightPDF')"/>
              <div ng-if="song.rawCopyrightPDFSize > 0">
                <br>
                <i class="fa fa-check-circle" style="color: green;"></i> <a href="api/songs/{{song.id}}/raw/rawCopyrightPDF.pdf" target="_blank">Download</a>
                {{song.rawCopyrightPDFSize / 1048576 | number : 2}} MB
              </div>
              <div ng-if="song.rawCopyrightPDFSize == 0" class="text-muted"><br><i class="fa fa-times" style="color: red;"></i> Keine Datei hochgeladen</div>
            </div>
          </div>
        </form>


      </div>
    </div>

  </div>
</div>
